.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* css start */

/* header */
.logo {
  font-weight: 800;
  font-size: 36px;
  line-height: 43.57px;
  letter-spacing: 1px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  margin-top: 36px;
  display: flex;
  justify-content: space-around;
}
.logo-img {
  /* margin-left: 36px; */
}
.header-dashboard {
  /* margin-right: 96px; */
}
.logo {
  margin-left: 36px;
}
/* header end */

/* navbar */

.nav {
  /* padding: 10px; */
  /* background-color: azure; */
  /* box-shadow: 0px 0px 20px 0px #282c34; */
  justify-content: center;
  width: 100vw;
  align-items: center;
  margin-top: 60px;
}
.nav ul {
  display: flex;
  justify-content: center;
}
.nav ul li {
  text-decoration: none;
  margin-left: 40px;
  /* margin-left: 56px; */
  /* align-items: center; */
  list-style: none;
  padding: 10px;
}
.nav ul li:hover {
  color: wheat;
  background-color: #282c34;
}
.nav ul li a:hover {
  color: wheat;
  background-color: #282c34;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}
.active {
  color: Gray;
}
/* nav css end */

/* page-description start */

.page-Description h1 {
  font-family: Simplon Norm;
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1px;
  text-align: center;
}
.page-Description h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 40px;
  text-align: center;
}

/* shopApiData CSS */
.mainStore {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.storeCardComponentShop {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.storeElementCombiner{
  text-align: left;
}
.shopCard {
  width: 200px;
  margin-top: 20px;
  height: 399px;
  border-top: 3px solid rgb(190, 189, 189);
  

  /* margin-left: 5px; */
  /* border: 1px solid gainsboro; */
}
.sign{
  transform: rotate(0deg);
}
.shopCard:hover{
  cursor: pointer;
  transition-delay: 0.4s;
  transition:all .5s ease-out;
  margin-top: -0.5px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 5.1px 15px 0px;
}
.title {
  align-items: end;
  text-align: left;
}
hr{
  width: 90%;
  color: #d8dbdb;
}
.category{
  text-align: right;
  margin-right: 2px;
  color: #6b6d72;
  margin-top: -8px;
}
.rating{
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  width: 45px;
  color: #d8dbdb;
  padding: 1px;
  margin-top: -10px;
  border-radius:5px;
  background-color: rgb(24, 155, 24);
}
.ratingCount{
  color: #6b6d72;
  font-weight: 500;
  margin-left: 50px;
  margin-top: -22px;
}
.card-price{
  /* margin-left: -140px; */
  font-size: 18px;
  font-weight: 600;
  color: #282c34;
}
.shopCard:hover{
  color: rgb(72, 72, 219);
}
.shopCard{
  padding-left:10px ;
}
.shopCard img {
  padding-top: 2rem;
  width: 150px;
  height: 209px;
  gap: 0px;
  opacity: 0px;
}
/* filter */
.filter{
  padding-left:40px;
  padding-right:40px;
  display: flex;
  justify-content: space-between;
}
.select_option{
  /* height: 20px; */
  width: 148px;
height: 40px;
top: 556px;
left: 1160px;
gap: 0px;
padding-left: 10px;
padding-right: 10px;
opacity: 0px;
cursor: pointer;
outline: none;
}
.select_option option{
  padding-top: 10px;
  text-align: right;
  margin-top: 10px;
}
.hidefilter{
  margin-left: 80px;
  /* text-decoration: underline; */
  color: #6b6d72;
  cursor: pointer;
}
.hidefilter1{
  color: #6b6d72;
  cursor: pointer;
  margin-top: -20px;
}
.ideal{
  cursor: pointer;
}
.ideal p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.rotate{
  transform: rotate(45);
}
.notRotate{
  transform: rotate(0);
}
.ideal:hover{
  color: rgb(111, 111, 240);
}

.inputs input{
  margin-top: 20px;
}
.hide{
  display: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.footerHead{
  /* padding-top: 79px; */
  margin-left: 128px;
  margin-bottom: 20px;
  margin-right: 128px;
  /* border: 1px solid white; */
  text-align: left;
  display: flex;
  justify-content: space-around;
}
.headBelow{
  
  margin-top: 56px;
}
.copyRight{
  margin-top: 37px;
  text-align: center;
}
.footerParagraphHead{
  font-weight: 600;
}
.footerParagraphHeadBelow{
  opacity: 0.6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.footerHeadLeft button{
  width: 184px;
height: 48px;
left: 400px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
border: 1.14px solid #FFFFFF;
opacity: 0.3px;
background-color: #282c34;
color: #FFFFFF;
opacity: 0.3;
cursor: pointer;

}
.footerHeadLeft button:hover{
  background-color: #6b6d72;
}
.inputEmail{
  width: (384px)px;
height:  (47px)px;
padding: 14px 24px 14px 24px;
gap: 8px;
opacity: 0px;

}
 


.footer{
  width:100%;
  height:750px;
  background-color:black;
  color:white;
  padding-top:79px;
}
.burgurIcon img{
  display: none;
}
/* media quary */
@media only screen and (max-width: 600px) {
  .none{
    display: none;
    
  }
  .logo-img{
    width: 19.89px;
    height: 19.91px;
    gap: 0px;
    opacity: 0px;
    
  }
  .logo{
    font-weight: 800;
    font-size: 25px;
  }
  .header-dashboard{
    width: Hug (84px)px;
height: Hug (20px)px;
top: 41px;
left: 275px;
gap: 12px;
opacity: 0px;

  }
  .footerHead{
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .footerHeadLeft button{
      width: 124px;
    height: 30px;
    margin-top: 20px;
  }
  .cur{
    display: none;
  }
  .footer{
    width:100%;
    height:1200px;
    background-color:black;
    color:white;
    padding-top:79px;
  }
  .burgurIcon img{
    display: block;
  }
  
}

